.fullPoolContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(45deg, #48b4ee, #2959a1, #191E3B);
    background-size: 400% 400%;
    animation: waterShimmer 5s ease infinite;
    overflow: hidden;
    font-family: sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}

@keyframes waterShimmer {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.driftingFloat {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    will-change: transform;
}

.poolFloatCss {
    position: relative;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 30px solid #ff5722;
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    animation: spinFloat 10s infinite linear;
}

.floatStripe {
    position: absolute;
    background-color: white;
}

.stripe1 {
    width: 12px;
    height: 30px;
    top: -30px;
    left: calc(50% - 6px);
}

.stripe2 {
    width: 12px;
    height: 30px;
    bottom: -30px;
    left: calc(50% - 6px);
}

.stripe3 {
    width: 30px;
    height: 12px;
    left: -30px;
    top: calc(50% - 6px);
}

.stripe4 {
    width: 30px;
    height: 12px;
    right: -30px;
    top: calc(50% - 6px);
}

@keyframes spinFloat {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.contentCard {
    position: relative;
    z-index: 10;
    text-align: center;
    padding: 3rem;
    border-radius: 20px;

    background: var(--color-card-background-glass);
    backdrop-filter: blur(10px);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.5);
    border: 1px solid var(--color-border-glass);
    width: 60%;
    height: 40%;
}

.pool404Number {
    font-size: 4.5rem;
    font-weight: 900;
    margin: 0;
    color: var(--color-primary-blue);
    line-height: 1;
    text-shadow: 0 0 10px rgba(92, 151, 242, 0.5);
}

.pool404Title {
    font-size: 1.5rem;
    margin: 10px 0 20px;
    color: var(--color-text-light);
}

.pool404Message {
    color: var(--color-text-faded);
    font-size: 1rem;
    margin-bottom: 30px;
    line-height: 1.6;
}

.pool404Button {
    padding: 14px 28px;
    font-size: 1rem;
    font-weight: bold;
    color: var(--color-text-light);
    background: rgba(92, 151, 242, 0.2);
    backdrop-filter: blur(8px);
    border: 1px solid rgba(92, 151, 242, 0.4);
    box-shadow: 0 4px 10px rgba(92, 151, 242, 0.3);
    border-radius: 30px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.pool404Button:hover {
    background: rgba(92, 151, 242, 0.4);
    transform: translateY(-3px) scale(1.02);
    box-shadow: 0 6px 15px rgba(92, 151, 242, 0.5);
}