:root {
    --color-app-background: #191E3B;
    --color-text-light: #F0F0F0;
}

.editTitle {
    font-size: 2.5rem;
    font-weight: 800;
    text-align: center;
    margin: 50px 0 30px;
    line-height: 1.1;
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.3);
    color: var(--color-text-light);
}

@media (max-width: 768px) {
    .editContainer {
        padding: 20px 16px 80px;
    }

    .editTitle {
        margin-top: 20px;
        font-size: 2rem;
    }
}