:root {
  --color-dark-blue: #103C76;
  --color-header-blue: #213547;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--color-dark-blue);
  background-image: url('./assets/imagenes/fondo1.png');
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  font-family: 'Inter', system-ui, Avenir, Helvetica, Arial, sans-serif;
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

#root {
  min-height: 100vh;
  width: 100%;
  background-image: none;
  box-sizing: border-box;
}

.header {
  width: 100%;
}

.cabeza {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  box-sizing: border-box;
  background-color: var(--color-header-blue);
  color: white;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  padding: 1rem;
  font-size: 1.5rem;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar {
  margin: auto;
  padding: 10px 0;
  display: flex;
  justify-content: space-around;
  width: 100%;
  max-width: 400px;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.escena-list {
  width: 90%;
  margin: 0 auto;
  padding-bottom: 200px;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.flecha {
  position: fixed;
  top: 90px;
  left: 20px;
  z-index: 1001;
}