:root {
  --color-text-light: #F0F0F0;
}

.headerContainer {
  display: flex;
  top: -50px;
  padding: 0 40px;
}

.dynamicTitle {
  font-size: 2rem;
  font-weight: 900;
  color: var(--color-text-light);
  margin-top: 100px;
  width: 90%;
  padding: 0;
}